.cfg
.cache/
.cargo/
.config/GIMP/
.config/QtProject.conf
.config/blender/
.config/kicad/
.config/coc/
.config/configstore/
.config/dconf/
.config/glib-2.0/
.config/gtk-2.0/
.config/libreoffice/
.config/pavucontrol.ini
.config/pulse/
.config/unity3d/
.dbus/
.docker/
.gitconfig
.gnupg/
.inputrc
.lesshst
.local/
.mono/
.mozilla/
.npm/
.pki/
.pulse-cookie
.recently-used
.rustup/
.ssh/
.steam/
.steampath
.steampid
.var/
storage
.config/zsh/.zcompdump
